Include other_ssh_config # include another ssh config if it exists

Host github.com # Default GitHub
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519

Host github-Uni # Uni GitHub
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_rsa_Uni

Host vps # Minecraft Server
  HostName eldos.one
  User root
  IdentityFile ~/.ssh/mcs.ed25519

Host nextcloud # nextcloud vps
  HostName nx.eldos.one
  User root
  IdentityFile ~/.ssh/id_nextcloud

Host homeserver # Server under my desk
  HostName 192.168.1.80
  User valentin
  IdentityFile ~/.ssh/homeserver.ed25519
