keybinds {
    unbind "Ctrl p"
    pane {
        bind "Ctrl k" { SwitchToMode "Normal"; }
    }
    shared_except "pane" "locked" {
        bind "Ctrl k" { SwitchToMode "Pane"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
}
theme "catppuccin-mocha"
