[user]
	name = EldosHD
	email = Eldos.sonofelax@gmail.com
# include uni email
[includeIf "gitdir:~/GitHub/Uni/"]
    path = ~/.dotFiles/Uni/.gitconfig

[core]
	editor = code

	# this has to be different on windows. "input" is for linux and mac
	autocrlf = input
[credential]
	helper = store
	credentialStore = cache
[credential "https://dev.azure.com"]
	useHttpPath = true
