Include other.sshconfig # include another ssh config if it exists

Host github.com # VJMReichenbach GitHub
  HostName github.com
  User git
  IdentityFile ~/.ssh/vjmreichenbach_github
  
Host github-eldoshd # EldosHD GitHub
  HostName github.com
  User git
  IdentityFile ~/.ssh/eldoshd_github
