Include other_ssh_config # include another ssh config if it exists

Host github.com # VJMReichenbach GitHub
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_rsa_Uni
  
Host github-eldoshd # EldosHD GitHub
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519
